Relative URI Issues

Some of the assets proposed in https://github.com/KhronosGroup/glTF-Sample-Assets/pull/157 are not loaded correctly. They cause exceptions during design-time import.

Thanks @hybridherbst for reporting!

An import issue encountered in `glTF-UriTest-02-RelativeTexture-UTF8` and `glTF-UriTest-03-RelativeBin` is due to the difference between a decomposed form URI inside the `RelativeResourcePaths.gltf` file and the composed form filename `buffer안녕하세요, 세계.bin` it references.

According to [glTF 2.0 Specification, section 2.8 URIs](https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html#uris):

> URIs SHOULD undergo syntax-based normalization as defined by RFC 3986, Section 6.2.2, RFC 3987, Section 5.3.2, and applicable schema rules (e.g., RFC 7230, Section 2.7.3 for HTTP) on export and/or import.

> Implementation Note: While the specification does not explicitly disallow non-normalized URIs, their use may be unsupported or lead to unwanted side-effects — such as security warnings or cache misses — on some platforms.

Going further into [RFC 3987, section 5.3.2.2 Character Normalization](https://datatracker.ietf.org/doc/html/rfc3987#section-5.3.2.2):

> Equivalence of IRIs MUST rely on the assumption that IRIs are appropriately pre-character-normalized rather than apply character normalization when comparing two IRIs.

> Note: Because it is unknown how a particular sequence of characters is being treated with respect to character normalization, it would be inappropriate to allow third parties to normalize an IRI arbitrarily.  This does not contradict the recommendation that when a resource is created, its IRI should be as character normalized as possible (i.e., NFC or even NFKC).

Therefore, we can conclude that normalization should not be applied by glTFast and that these errors are an unfortunate side-effect of the usage of non-normalized URIs. The two test cases referenced above should be updated to apply the correct normalization inside the .gltf files they contain, and testing has shown that such normalization corrects the issue seen here.

This is certainly a point that I'm discussing in the Khronos Working Groups a lot: while the spec says something, practical use is different. The test files are constructed from real-world usecases. I believe test files should _cover_ such cases that use "should" language – and then a library (e.g. glTFast) can state that it does not support that case if it believes it should not support them. That does not make the files invalid, and it does also not mean the test files should be adjusted to be "pristine", quite the contrary.

Makes sense.

We briefly estimated the effort to catch all corner-cases when it comes to mix of normalized vs. non-normalized across local filesystem vs. HTTP. Heck, strictly speaking even a wild mixture of both within one URI is valid and "SHOULD" be supported. We opted not to go down that rabbit hole.

But we should definitely state that somewhere in the documentation.

If it was up to me, I'd make the spec stricter (from "SHOULD" to "MUST").