Exporting textures to an asset folder outside of object folder not supported.

Steps to reproduce:

Open Blender
Load a model
Select export to Gtlf 2.0
select folders path in blender export option : ie.  ../Materials/textures
Export selected object.
Open folder in unity.
Receive error: Download  texture 0  failed couldn't load texture at :  Assets/sub/folder/../Materials/Textures

Blender exports the texture correctly to ../Materials/Textures/myImportedTexture.png

glTFast is appending the blender export file path rather than referencing the exported file.

Usage Case:
 A single texture can be held in a project. e,g one 256x256_gradient_palette.png. 
 All  lowest LOD models can reference the  same texture.
 
 Or am i missing something fundamental to the file format?




Hi @hilton3 ,

Thanks for the report. The problem seems to be the dot-segment (`..`) in the relative URI.

I wasn't able to reproduce such an asset (because Blender would create a copy of the texture along the gltf file). Could you:

- Give more detailed info how to produce such an asset (incl. version of Blender and the version of the glTF-Blender-IO addon you used)?
- Provide the actual glTF asset itself?

Thanks!

Many thanks, excellent plugin, cant believe Unity doesn't support this format :-(


thanks again for sharing!

In attached zip:

6 cubes exported from blender with and without textures in the 3 export options.
2 blend scenes containing a cube and a textured cube

Note that Cube_textured_seperate_withexplicit 

1. No texture displayed
2. CUBE_test_explict folder is created by blender and contains the texture.png


Hope this helps.

P.
[CUBE_Test_Unity_scene_and_blender_files.zip](https://github.com/atteneder/glTFast/files/6809281/CUBE_Test_Unity_scene_and_blender_files.zip)








Thanks for providing the files. I've looked into it. Here's the relevant part of the glTF 2.0 specification ([source](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#uris)):

> Applications should consider applying syntax-based normalization to URIs as defined by RFC 3986, Section 6.2.2., RFC 3987, Section 5.3.2., and applicable schema rules (e.g., RFC 7230, Section 2.7.3. for HTTP) on export and/or import.

Important to point out is the word "should". It goes on to say:

> Implementation Note: While the spec does not explicitly disallow non-normalized URIs, their use may be unsupported or lead to unwanted side-effects — such as security warnings or cache misses — on some platforms.

I can see the usefulness of your use-case/request though, so I'm working on a solution.

At the same time I'm worried about security as well. For Editor import, it won't be able to reference URIs outside of the project folder. Meaning if you have an glTF file at `Assets/Folder/test.gltf`, you can have URIs as far as `../../texture.png`, but not one level higher outiside the project.

Loading absolute glTF paths with relative URIs is problematic, but not more than absolute URIs in first place. For now I'm not going to pay attention to that.

Regards

Amazing. Thank you so much!

On Fri, 16 Jul 2021, 15:19 Andreas Atteneder, ***@***.***>
wrote:

> Closed #213 <https://github.com/atteneder/glTFast/issues/213> via 80a31ef
> <https://github.com/atteneder/glTFast/commit/80a31efca1493b24ff90f218d220b5081534240c>
> .
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/atteneder/glTFast/issues/213#event-5031197645>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABDLEFAERHQOSM7BQTCM4OLTYA5XBANCNFSM5AGB5SEA>
> .
>
